@import 'tailwindcss';
@tailwind utilities;

@theme {
  /** ==================BACKGROUND================== */
  /* Use for primary background color */
  --color-bg-primary: #191a23;
  /* Use for background color of cards, modals, select options, etc */
  --color-bg-secondary: #1d1e2b;
  /* Use for secondary background color (ie. input fields) */
  --color-bg-muted: #151621;
  /* Use for active/highlighted areas or selection fields */
  --color-bg-active: #444556;

  /* ================TEXT COLORS================ */
  /* Use for primary text (ie. headings, paragraphs) */
  --color-text-primary: #d2d3e0;
  /* Use for muted text (ie. input placeholders, unavailable options) */
  --color-text-muted: #858699;
  /* Use for button labels */
  --color-text-primary-hover: #eeeffc;
  /* Not commonly used */
  --color-text-inverted: #2d2c1f;

  /* ===============BUTTON COLORS=============== */
  /* Use for primary button background */
  --color-button-primary-base: #292a35;
  /* Use for primary button background on hover */
  --color-button-primary-hover: #2c2d42;
  /* Use for primary buttons on active */
  --color-button-primary-active: #2c2d42;
  /* Use for outlines on primary buttons */
  --color-button-primary-border: #444556;

  /* Use for secondary button background */
  --color-button-secondary-base: #575bc7;
  /* Use for secondary button background on hover */
  --color-button-secondary-hover: #666be2;
  /* Use for primary buttons on active */
  --color-button-secondary-active: #666be2;
  /* Use for borders on secondary buttons */
  --color-button-secondary-border: #575bc7;

  /* Use for accent buttons */
  --color-button-accent-base: #eb5757;
  /* Use for accent buttons on hover */
  --color-button-accent-hover: #f25f5f;
  /* Use for accent buttons on active */
  --color-button-accent-active: #d13d3d;
  /* Use for accent buttons on border */
  --color-button-accent-border: #eb5757;

  /* ===============BORDER COLORS=============== */
  /* Use for primary border color */
  --color-border-primary: #393a4b;
  /* Use for secondary border color */
  --color-border-secondary: #6c79ff;
  /* Use for accent border color */
  --color-border-accent: #eb5757;

  /* ===============INPUT COLORS=============== */
  /* Use for input background */
  --color-input-base: #151621;
  /* Use for input background on focus */
  --color-input-focus: #151621;
  /* Use for input border */
  --color-input-border: #393a4b;
  /* Use for input border on focus */
  --color-input-border-focus: #6c79ff;
  /* Use for input text */
  --color-input-text: #d2d3e0;
  /* Use for input placeholder */
  --color-input-placeholder: #858699;
  /* Use for input placeholder on focus */
  --color-input-placeholder-focus: #858699;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  place-content: center; */
  min-width: 320px;
  min-height: 100vh;
}
